:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light--1: #faf9f9;
  --color-grey-light--2: #f4f2f2;
  --color-grey-light--3: #f0eeee;
  --color-grey-light--4: #ccc;
  --color-grey-dark--1: #333;
  --color-grey-dark--2: #777;
  --color-grey-dark--3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark--2);
  background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light--2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.content {
  display: flex; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light--1);
  border-bottom: 1px solid var(--color-grey-light--2); }

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }

.list {
  border-top: 1px solid var(--color-grey-light--2);
  border-bottom: 1px solid var(--color-grey-light--2);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;
      background-color: var(--color-primary);
      -webkit-mask-image: url(/img/SVG/chevron-thin-right.svg);
      -webkit-mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  display: flex;
  align-items: center; }
  .recommend__count {
    color: var(--color-grey-dark--3);
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem;
    border: solid 0.3rem #fff; }
    .recommend__photo:not(:first-child) {
      margin-left: -3.5rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light--2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-size: inherit;
    font-family: inherit;
    background-color: var(--color-grey-light--2);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light--3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light--4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light--3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light--2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark--1); }

.user-nav {
  display: flex;
  align-items: center;
  flex: 0 0 15%;
  justify-content: space-between;
  align-self: stretch;
  margin-right: 2rem; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light--2); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark--2); }
  .user-nav__notification {
    font-size: 0.8rem;
    background-color: var(--color-primary-light);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    padding: 0.8rem;
    color: #fff;
    position: absolute;
    top: 1.8rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.hotel-view {
  flex: 1;
  background-color: #fff; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  border-bottom: 1px solid var(--color-grey-light--2);
  align-items: center; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-average {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: -0.1rem; }
  .overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  font-size: 2rem;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark--2);
    animation: pulsate 1s infinite;
    background-color: transparent; }
  .btn-inline:focus {
    outline: none; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.08); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-dark--1);
  flex: 0 0 20%;
  justify-content: space-between; }

.side-nav {
  flex-direction: column;
  font-size: 1.4rem;
  align-items: center;
  margin-top: 3.5rem;
  list-style: none; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: left;
    transition: transform 0.01s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light--2);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative; }
  .side-nav__icon {
    margin-right: 3rem;
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor; }

.legal {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light--4); }
  .legal__copyright {
    margin-top: 1.5rem; }
  .legal__link:link, .legal__link:visited {
    text-decoration: none;
    color: var(--color-grey-light--4);
    display: inline-block;
    text-transform: uppercase;
    transition: all 2s; }
  .legal__link:hover, .legal__link:active {
    color: var(--color-primary);
    transform: scale(1.2); }

.user-reviews {
  flex: 1;
  background-color: var(--color-grey-light--1); }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem; }
  .review__text {
    margin-bottom: 2rem; }
  .review__user {
    display: flex;
    align-items: center; }
    .review__user-box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: auto; }
    .review__user-name {
      color: var(--color-grey-dark--1); }
    .review__user-date {
      font-size: 1.2rem;
      color: var(--color-grey-dark--3); }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin: 0 2rem 0 0; }
  .review__rating {
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    color: var(--color-primary-dark); }
