.content {
  display: flex;
}
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light--1);
  border-bottom: $line;
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.list {
  border-top: $line;
  border-bottom: $line;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;
      // background-image: url(/img/SVG/chevron-thin-right.svg);
      // background-size: cover;
      background-color: var(--color-primary);
      -webkit-mask-image: url(/img/SVG/chevron-thin-right.svg);
      -webkit-mask-size: cover;
    }
  }
}
.recommend {
  font-size: 1.3rem;
  display: flex;
  align-items: center;

  &__count {
    color: var(--color-grey-dark--3);
    margin-right: auto;
  }
  &__photo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem;
    border: solid 0.3rem #fff;

    &:not(:first-child) {
      margin-left: -3.5rem;
    }
  }
}
