.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-dark--1);
  flex: 0 0 20%;
  justify-content: space-between;
}
.side-nav {
  flex-direction: column;
  font-size: 1.4rem;
  align-items: center;
  margin-top: 3.5rem;
  list-style: none;

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: left;
    transition: transform 0.01s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light--2);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 100; //z-index only works if we have a spec. position!
    position: relative;
  }

  &__icon {
    margin-right: 3rem;
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor; //from the parent element
  }
}

.legal {
  font-size: $font-size-medium;
  line-height: 2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light--4);

  &__copyright {
    margin-top: 1.5rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--color-grey-light--4);
      display: inline-block;
      text-transform: uppercase;
      transition: all 2s;
    }
    &:hover,
    &:active {
      color: var(--color-primary);
      transform: scale(1.2);
    }
  }
}
